* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* padronizando */
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222
}

h4 {
    font-size: 20px;
    color: #222
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;

    cursor: pointer;
}

body{
    width: 100%
}


/* HEADER */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.logo{
    width: 40%;
    height: 40%;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

    li{
        list-style: none;
        padding: 0 20px;
        position: relative;
        
        a{
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
            color: #1a1a1a;

            .carrinho_icon{
                border: 2px solid  #E3E6F3;
                width: 30px;
           
            }     

            transition: 0.3s ease;
        }

        a:hover, .carrinho_icon:hover, a.active{
            color: #088178;
            border-color: #088178;
        }

        a.active::after, a:hover::after{
            content: "";
            width: 30%;
            height: 2px;
            background: #088178;
            position: absolute;
            bottom: -4px;
            left: 20px;
        }
    }
}



/* HOME PAGE */

#hero{
    background-image: url("/img/escalada.jpg"); /* tratar essa imagem no adobe*/
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% left 0;
    padding-left: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h4{
        padding-bottom: 15px;
    }

    h1{
        color: #088178;
    }

    button{
        background-image: url("");
        background-color: transparent;
        color: #088178;
        border: 0;
        padding: 14px 80px 14px 65px;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;
        font-size: 15px;
    }

    
}

#feature{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* torna responsivo */

    img{
        width: 100px;
        height: 100px;
    }

    .fe-box{
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
        border: 1px solid #cce7d0;
        border-radius: 4px;
        margin: 15px 0;

        h6{
            display: inline-block;
            padding: 9px 8px 6px 8px;
            line-height: 1;
            border-radius: 4px;
            color: #088178;
            background-color: #fddde4;
        }

        

        img{
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .fe-box:hover{
        box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.1);
    }

    .fe-box:nth-child(1) h6{
        background-color: #d1e8f2;
    }

    .fe-box:nth-child(3) h6{
        background-color: #f6dbf6;
    }

    .fe-box:nth-child(4) h6{
        background-color: #cdd4f8;
    }

    .fe-box:nth-child(5) h6{
        background-color: #fff2e5;
    }
}


#product1{
    text-align: center;

    .pro-container{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
    }

    .pro{
        width: 23%;
        min-width: 250px;
        padding: 10px 12px;
        border: 1px solid #cce7d0;
        border-radius: 20px;

        cursor: pointer;
        box-shadow: 20px 20px 30px rgba(0, 0 0, 0.02);
        margin: 15px 0;
        transition: 0.2s ease;

        position: relative;
    }

    .pro:hover{
        box-shadow: 20px 20px 30px rgba(0, 0 0, 0.06);
        border: 1px solid red;
    }

    img{
        width: 100%;
        border-radius: 20px;
    }

    a{
        img{
            width: 15%;
            border-radius: 50%;
            background-color: #e8f6ea;
            font-weight: 500;
            color:#088178;
            border: 1px solid #cce7d0;

            padding: 5px;
            position: absolute;
            bottom: 20px;
            right: 10px;
        }
    }

   .des{
        text-align: start;
        padding: 10px 0;

        span{
            color: #606063;
            font-size: 12px;
        }

        h5{
            padding-top: 7px;
            color: #1a1a1a;;
            font-size: 14px;
        }

        h4{
            padding-top: 2px;
            padding-bottom: 5px;
            font-size: 15px;
            font-weight: 700;
            color: #088178
        }

        .material-icons{
            width: 8%;
            color: rgb(243, 181, 25);
        }
   }

}


#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url("/img/jardinsSensoriais.png");

    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

    h4{
        color: #fff;
        font-size: 16px;
    }

    h2{
        color: #fff;
        font-size: 30px;
        padding: 10px 0;

        span{
            color: #ef3636;
        }
    }
    
    button:hover{
        background: #088178;
        color: #fff;
    }

}

#sm-banner{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    h4{
        color: #fff;
        font-size: 20px;
        font-weight: 300;
    }

    h2{
        color: #fff;
        font-size: 28px;
        font-weight: 800;
    }

    span{
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 15px;
    }

    .banner-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        background-image: url("/img/piquenique.jpg");

        width: 600px;
        height: 50vh;
        background-size: cover;
        background-position: center;

        padding: 30px;
        margin: 10px 0;
    }

    .banner-box2{
        background-image: url("/img/jantarRomantico.jpg");
    }

    .banner-box:hover button{
        background: #088178;
        border: 1px solid #088178;
    }
}

#banner3 {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;

    .banner-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        background-image: url("/img/piquenique.jpg");

        width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;

        padding: 20px;
        margin-bottom: 20px;
    }

    .banner-box2{
        background-image: url("/img/canyoning.jpg");
    }

    .banner-box3{
        background-image: url("/img/passeioBarco.jpg");
    }

    h2{
        color: #ec544e;
        font-weight: 800;
        font-size: 15px;
    }
    
}